<h1>New Student</h1>
<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View list', students_path %></li>
  <li class="active"><%= link_to 'New student', new_student_path %></li>
</ul>

<%= render 'form', student: @student %>

<%= link_to 'Back', students_path %>
