<nav class="navbar navbar-dark bg-dark" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Student's Portal</a>
    </div>
  </div>
</nav>
